<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <facebook>
            <business_extension>
                <active>1</active>
                <onsite>0</onsite>
            </business_extension>
            <debug>
                <debug_mode>1</debug_mode>
            </debug>
        </facebook>
    </default>
</config>
