<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Meta\Sales\Api\Data\FacebookOrderInterface" type="Meta\Sales\Model\FacebookOrder"/>
    <type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="facebook_order_extension" type="Meta\Sales\Plugin\OrderGet"/>
    </type>
</config>
