<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_shipment_save_after">
        <observer name="facebook_order_mark_as_shipped" instance="Meta\Sales\Observer\Order\MarkAsShipped" />
    </event>
    <event name="sales_order_shipment_track_save_after">
        <observer name="facebook_order_mark_as_shipped" instance="Meta\Sales\Observer\Order\MarkAsShipped" />
    </event>
    <event name="order_cancel_after">
        <observer name="facebook_order_cancel" instance="Meta\Sales\Observer\Order\Cancel" />
    </event>
    <event name="sales_order_payment_refund">
        <observer name="facebook_order_refund" instance="Meta\Sales\Observer\Order\Refund" />
    </event>
    <event name="facebook_order_create_after">
        <observer name="facebook_order_create_after" instance="Meta\Sales\Observer\Facebook\OrderCreateAfter" />
    </event>
</config>
