<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <facebook>
            <catalog_management>
                <enable_catalog_sync>1</enable_catalog_sync>
                <price_incl_tax>0</price_incl_tax>
                <out_of_stock_threshold>0</out_of_stock_threshold>
                <enable_sync_all_categories>1</enable_sync_all_categories>
                <disable_unsupported_products>0</disable_unsupported_products>
                <disable_additional_attributes_sync>0</disable_additional_attributes_sync>
                <products_fetch_batch_size>2000</products_fetch_batch_size>
            </catalog_management>
        </facebook>
    </default>
</config>
