<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <facebook>
            <catalog_management>
                <daily_product_feed>0</daily_product_feed>
                <feed_upload_method>feed_api</feed_upload_method>
                <incremental_product_updates>0</incremental_product_updates>
                <product_identifier>sku</product_identifier>
                <price_incl_tax>0</price_incl_tax>
                <collections_sync>0</collections_sync>
            </catalog_management>
            <inventory_management>
                <enable_inventory_upload>0</enable_inventory_upload>
                <out_of_stock_threshold>0</out_of_stock_threshold>
            </inventory_management>
        </facebook>
    </default>
</config>
